In [1]:
import os, shutil

In [2]:
cat1611 = open('C:/Maxim/!Precipitation/1611.txt', 'r')
c1611 = cat1611.readlines()
cat1611.close()

# Эта функция делает папку dd

In [3]:
def dd(cat):
    try:
        os.mkdir('C:/Maxim/!Precipitation/dd_' + str(len(cat)))
    except:
        shutil.rmtree('C:/Maxim/!Precipitation/dd_' + str(len(cat)), ignore_errors=True)
        os.mkdir('C:/Maxim/!Precipitation/dd_' + str(len(cat)))
    for i in range(len(cat)):
        if not str:
            break
        k = cat[i].split()[1]
        n = k
        if len(n) < 5:
            n = '0' + n
        res = open('C:/Maxim/!Precipitation/dd_' + str(len(cat)) + '/'  + k, 'w')
        a = open('E:/ghcnd_all/' + cat[i].split()[0] + '.dly', 'r')
        aa = a.readlines()
        a.close()
        for j in range(len(aa)):
            if not str:
                break
            if aa[j][17:21] == 'PRCP':
                res.write(aa[j])          
        res.close()

In [4]:
dd(c1611)

# Эта функция нужна чтобы знать сколько дней в месяце

In [3]:
def N_day(x, y):
    if x == '01' or x == '03' or x == '05' or x == '07' or x == '08' or x == '10' or x == '12':
        dm = 31
    elif x == '04' or x == '06' or x == '09' or x == '11':
        dm = 30
    else:
        if y % 4 != 0 or (y % 100 == 0 and y % 400 != 0):
            dm = 28
        else:
            dm = 29
    return dm

# Эта функция из dd делает df (df то же самое, что mm)

In [8]:
def df(cat):
    try:
        os.mkdir('C:/Maxim/!Precipitation/df_' + str(len(cat)))
    except:
        shutil.rmtree('C:/Maxim/!Precipitation/df_' + str(len(cat)), ignore_errors=True)
        os.mkdir('C:/Maxim/!Precipitation/df_' + str(len(cat)))
    for i in range(len(cat)):
        file = open('C:/Maxim/!Precipitation/dd_' + str(len(cat)) + '/' + cat[i].split()[1], 'r')
        f = file.readlines()
        file.close()
        res = open('C:/Maxim/!Precipitation/df_' + str(len(cat)) + '/' + cat[i].split()[1], 'w')
        res.write('iREC _iWMO YYYY MM _PRCP _ND ND0 NDТ ND1 MFLAG SFLAG QFLAG' + '\n')
        iREC = 0
        for j in range(len(f)):
            dm = N_day(f[j][15:17], int(f[j][11:15]))          #подсчет количества дней в месяце
            c1 = 21                                            #константы для позиций
            c2 = 26
            c3 = 27
            c4 = 28
            g = 0                                               
            PRCP = 0
            t = 0                                              #количество случаев с: -9999 + QFLAG + SFLAG[Q/S]
            tcheck = True
            NDT = 0
            ND1 = 0
            ND0 = 0
            M = []
            S = []   
            Q = []
            while g != dm:
                mm = c1 + g * 8
                mf = c2 + g * 8
                qf = c3 + g * 8
                sf = c4 + g * 8
                summ = int(f[j][mm:mf])
                if summ == 0:
                    ND0 += 1
                elif summ == -9999:
                    t += 1
                    tcheck = False
                    summ = 0
                mflag = f[j][mf:mf + 1]
                if mflag == 'T':
                    NDT += 1
                else:
                    if mflag == ' ':
                        mflag = 'S'
                    M.append(mflag)
                sflag = f[j][sf:sf + 1]
                if sflag == 'Q' or sflag == 'S':
                    S.append(sflag)
                    summ = 0
                    if tcheck:
                        t += 1
                        tcheck = False
                qflag = f[j][qf:qf + 1]
                if qflag != ' ':
                    Q.append(qflag)
                    summ = 0
                    if tcheck:
                        t += 1 
                        tcheck = False
                if summ > 0:
                    ND1 += 1
                g += 1
                PRCP += summ
                tcheck = True
            iREC += 1
            ND0 -= NDT
            M = set(M)
            MMM = ''
            for v in M:
                MMM += v
            S = set(S)
            SSS = ''
            for o in S:
                SSS += o
            Q = set(Q)
            QQQ = ''
            for z in Q:
                QQQ += z
            if t > 3:
                PRCP = -9999
            ND = dm - t
            res.write('{:>4}'.format(iREC) + '{:>6}'.format(cat[i].split()[1]) + '{:>5}'.format(f[j][11:15]) + '{:>3}'.format(f[j][15:17])\
                      + '{:>6}'.format(PRCP) + '{:>4}'.format(ND) +'{:>4}'.format(ND0) + '{:>4}'.format(NDT) + '{:>4}'.format(ND1)\
                      + '{:>6}'.format(SSS) + '{:>6}'.format(MMM) + '{:>6}'.format(QQQ) + '\n')
        res.close()

In [9]:
df(c1611)

# Эта функция делает df с периодом 1901-2018 и доп. столбцами

In [4]:
def df_dop(cat):
    try:
        os.mkdir('C:/Maxim/!Precipitation/df_dop' + str(len(cat)))
    except:
        shutil.rmtree('C:/Maxim/!Precipitation/df_dop' + str(len(cat)), ignore_errors=True)
        os.mkdir('C:/Maxim/!Precipitation/df_dop' + str(len(cat)))
    for i in range(len(cat)):
        file = open('C:/Maxim/!Precipitation/dd_' + str(len(cat)) + '/' + cat[i].split()[1], 'r')
        f = file.readlines()
        file.close()
        res = open('C:/Maxim/!Precipitation/df_dop' + str(len(cat)) + '/' + cat[i].split()[1], 'w')
        res.write('iREC _iWMO YYYY MM _summ _PRCP NDr _ND ND0 NDТ ND1 MFLAG SFLAG QFLAG' + '\n')
        iREC = 0
        zyear = 1900
        months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
        for y in range(118):
            zyear += 1
            for m in months:
                iREC += 1
                existencecheck = True
                for j in range(len(f)):                    
                    if int(f[j][11:15]) == zyear and str(f[j][15:17]) == m: 
                        existencecheck = False
                        dm = N_day(f[j][15:17], int(f[j][11:15]))          #подсчет количества дней в месяце
                        c1 = 21                                            #константы для позиций
                        c2 = 26
                        c3 = 27
                        c4 = 28
                        g = 0                                               
                        PRCP = 0
                        EYa = 0
                        t = 0                                              #количество случаев с: -9999 + QFLAG + SFLAG[Q/S]
                        tcheck = True
                        NDT = 0
                        ND1 = 0
                        ND0 = 0
                        M = []
                        S = []   
                        Q = []
                        while g != dm:
                            mm = c1 + g * 8
                            mf = c2 + g * 8
                            qf = c3 + g * 8
                            sf = c4 + g * 8
                            summ = int(f[j][mm:mf])
                            if summ > 0:
                                EYa += summ
                            if summ == 0:
                                ND0 += 1
                            elif summ == -9999:
                                t += 1
                                tcheck = False
                                summ = 0
                            mflag = f[j][mf:mf + 1]
                            if mflag == 'T':
                                NDT += 1
                            else:
                                if mflag == ' ':
                                    mflag = 'S'
                                M.append(mflag)
                            sflag = f[j][sf:sf + 1]
                            if sflag == 'Q' or sflag == 'S':
                                S.append(sflag)
                                summ = 0
                                if tcheck:
                                    t += 1
                                    tcheck = False
                            qflag = f[j][qf:qf + 1]
                            if qflag != ' ':
                                Q.append(qflag)
                                summ = 0
                                if tcheck:
                                    t += 1 
                                    tcheck = False
                            if summ > 0:
                                ND1 += 1
                            g += 1
                            PRCP += summ
                            tcheck = True
                        ND0 -= NDT
                        M = set(M)
                        MMM = ''
                        for v in M:
                            MMM += v
                        S = set(S)
                        SSS = ''
                        for o in S:
                            SSS += o
                        Q = set(Q)
                        QQQ = ''
                        for z in Q:
                            QQQ += z
                        if t > 3:
                            PRCP = -9999
                        NDr = dm - t    
                        res.write('{:>4}'.format(iREC) + '{:>6}'.format(cat[i].split()[1]) + '{:>5}'.format(f[j][11:15]) + '{:>3}'.format(f[j][15:17])\
                                  + '{:>6}'.format(EYa) + '{:>6}'.format(PRCP) + '{:>4}'.format(NDr) + '{:>4}'.format(dm) + '{:>4}'.format(ND0)\
                                  + '{:>4}'.format(NDT) + '{:>4}'.format(ND1) + '{:>6}'.format(SSS) + '{:>6}'.format(MMM) + '{:>6}'.format(QQQ) + '\n')              
                if existencecheck:
                    res.write('{:>4}'.format(iREC) + '{:>6}'.format(cat[i].split()[1]) + '{:>5}'.format(zyear) + '{:>3}'.format(m)\
                              + '{:>6}'.format('-9999') + '{:>6}'.format('-9999') + '{:>4}'.format('0') + '\n')
        res.close()

In [ ]:
df_dop(c1611)

# Общий каталог для 1709(1456 + 253) и 1611(1456 + 155)

In [2]:
import pandas as pd
import numpy as np

In [222]:
res = open('C:/Maxim/!Precipitation/catalog1611', 'w')
ghcnd = open('C:/Maxim/!Precipitation/ghcnd-stations.txt', 'r')
gh = ghcnd.readlines()
ghcnd.close()

In [224]:
for i in range(len(c1611)):
    if not str:
        break
    df = pd.read_fwf('C:/Maxim/!Precipitation/df_1611/' + c1611[i].split()[1])
    res.write(str(c1611[i].split()[1]) + ',' +\
              str(df['YYYY'][df['_PRCP'] != -9999].min()) + ',' +\
              str(df['YYYY'][df['_PRCP'] != -9999].max()) + ',' +\
              str((df['_PRCP'] != -9999).sum()) + ',' +\
              str(df['YYYY'][df['_PRCP'] != -9999].unique().size) + '\n')
res.close()

In [3]:
df1611 = pd.read_table('C:/Maxim/!Precipitation/catalog1611', sep = ',', header = None)

In [4]:
df1611 = df1611.rename(index=str, columns={0:'iWMO', 1:'YB', 2:'YL', 3:'nm', 4:'ny'})

In [5]:
df1611.head()

   iWMO      YB      YL    nm  ny
0  1001  1922.0  2019.0  1143  98
1  1008  1975.0  2004.0   297  30
2  1025  1964.0  2019.0   642  56
3  1028  1920.0  2019.0  1118  96
4  1065  2004.0  2019.0   163  16

In [15]:
df1709 = pd.read_fwf('C:/Maxim/!Precipitation/r1709-series/!data/k1709f')

In [16]:
dfsi = pd.read_excel('C:/Maxim/!Precipitation/stations+inventory.xlsx', sheet_name = '1611', header = None)

In [17]:
dfsi = dfsi.rename(index=str, columns={0:'fname', 1:'fi', 2:'la', 3:'hh', 4:'YBghcn', 5:'YLghcn', 6:'sname', 7:'gsn', 8:'hcn', 9:'iWMO'})

In [18]:
dfres = pd.DataFrame()

In [19]:
dfres = df1611.merge(dfsi)

In [20]:
df1709 = df1709.rename(index=str, columns= {'__iWMO':'iWMO'})

In [21]:
dfres = dfres.merge(df1709)

In [201]:
dfres.to_excel("catalog_final.xlsx")

Каталог для 155

In [6]:
df155 = pd.read_excel('C:/Maxim/!Precipitation/stations+inventory.xlsx', sheet_name = '155', header = None)

In [9]:
df155.head()

,fname,fi,la,hh,YBghcn,YLghcn,sname,gsn,hcn,iWMO
0,USW00023051,36.4486,-103.1539,1511.8,1896,2019,M CLAYTON MUNI AIR PK,GSN,HCN,72360
1,USC00237963,40.2472,-93.7158,266.7,1957,2019,O SPICKARD 7 W,NaN,HCN,72540
2,USW00013899,30.4781,-87.1869,34.1,1948,2019,L PENSACOLA RGNL AP,NaN,HCN,72222
3,USW00014778,41.2433,-76.9217,158.5,1948,2019,A WILLIAMSPORT,NaN,HCN,72514
4,USW00024027,41.5944,-109.0528,2054.7,1948,2019,Y ROCK SPRINGS AP,NaN,HCN,72574

In [8]:
df155 = df155.rename(index=str, columns={0:'fname', 1:'fi', 2:'la', 3:'hh', 4:'YBghcn', 5:'YLghcn', 6:'sname', 7:'gsn', 8:'hcn', 9:'iWMO'})

In [11]:
df155 = df155.merge(df1611)

In [12]:
df155.to_excel("catalog_final_155.xlsx")

Каталог для 1709 - 1456 = 253

In [23]:
dfres.columns

Index(['iWMO', 'YB', 'YL', 'nm', 'ny', 'fname', 'fi', 'la', 'hh', 'YBghcn',
       'YLghcn', 'sname', 'gsn', 'hcn', '__NN', '___fi', '____la', '___hh',
       '__yB', '__yE', '_Name______________ _Country__________'],
      dtype='object')

In [24]:
df1709.columns

Index(['__NN', 'iWMO', '___fi', '____la', '___hh', '__yB', '__yE',
       '_Name______________ _Country__________'],
      dtype='object')

In [27]:
df1709 = df1709.set_index('__NN')
dfres = dfres.set_index('__NN')

In [30]:
a = df1709['iWMO'] - dfres['iWMO']

In [33]:
a = a != 0

In [38]:
a = a[a == True]

In [43]:
a = a.reset_index()

In [52]:
df1709 = df1709.reset_index()

In [58]:
a = a.drop(columns=['iWMO'])

In [59]:
a.head()

   __NN
0   9.0
1  12.0
2  13.0
3  14.0
4  40.0

In [60]:
df1709.head()

,index,__NN,iWMO,___fi,____la,___hh,__yB,__yE,_Name______________ _Country__________
0,0,1.0,1001.0,70.9,-8.7,10.0,1921.0,2018.0,JAN MAYEN NORWAY
1,1,2.0,1008.0,78.3,15.5,28.0,1975.0,2018.0,SVALBARD LUFTHAVN NORWAY
2,2,3.0,1025.0,69.7,19.0,10.0,1951.0,2018.0,TROMSO/LANGNES NORWAY
3,3,4.0,1028.0,74.5,19.0,16.0,1920.0,2018.0,BJOERNOEYA NORWAY
4,4,5.0,1065.0,69.5,25.5,129.0,1895.0,2015.0,KARASJOK NORWAY

In [62]:
a = df1709.merge(a)

In [63]:
a.to_excel("catalog_final_253.xlsx")

In [10]:
dfcountry = pd.read_fwf('C:/Maxim/!Precipitation/1.txt', widths=[20, 20], header = None)

In [12]:
dfcountry.to_excel("catalog_country.xlsx")

# Каталог и файлы для 415

In [3]:
df = pd.read_excel('C:/Users/igce/progs/catalog_final_SHCH.xlsx')

In [4]:
k = df['iWMO'][df['ii_415'].notna()]

In [5]:
p = k.values

In [32]:
os.mkdir('C:/Maxim/!Precipitation/df_415')

In [35]:
for i in p:
    try:
        shutil.move('C:/Maxim/!Precipitation/df_1611/' + str(i), 'C:/Maxim/!Precipitation/df_415')
    except:
        continue

In [70]:
for i in p:
    if not os.path.isfile('C:/Maxim/!Precipitation/df_415/' + str(i)):
        print(i)

1001
1025